.section-review-card {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 275px;    
}

.container-review-card { 
    width: 42rem;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    border: #0095ff dashed 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-question,
.card-answer {
    padding: 0.5rem;
    overflow: scroll;
    margin-block: 0.5rem;
    border-radius: 0.5rem;
    border: solid #575757 0.1155rem;
}

.card-question { height: 8rem; }
.card-answer { height: 15rem; }
.hidden-answer-true { display: none; }
.hidden-answer-false { display: block; }

.review-card-button {
    gap: 0.5rem;
    display: flex;
    justify-content: space-around;
    margin-block: 0.5rem;
}

.review-card-button div {
    width: 150px;
}

@media screen and (max-width: 48.75rem) {
    .section-review-card {
        margin: 0;    
    }

    .review-card-button div{
        width: 100%;
    }
}