.section-view-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  height: 100vh;
  padding: 1rem;
  margin-left: 275px;
}

.container-search-cards {
  gap: 1rem;
  display: flex;
  width: 100%;
  max-width: 550px;
  margin-block: 0.5rem;
}

.container-search-cards div {
  height: 50px;
}

.icon-search {
  width: 50px;
  cursor: pointer;
  padding: 0.3rem;
  background-color: rgb(192, 192, 192);
}

.container-search-cards > div {
  flex: 1;
  display: flex;
}

.container-search-cards > div > input {
  width: 100%;
  padding: 0.4rem;
}

.container-search-cards > select {
  width: 100px;
  padding: 0.6rem;
}

.container-card {
  display: flex;
  width: 100%;
  max-width: 550px;
  min-height: 150px;
  margin-block: 0.1rem;
  border: 1px white solid;
}

.cardFront {
  flex: 1;
  padding: 0.4rem;
  background-color: #585c63;
}

.cardBack {
  flex: 1;
  padding: 0.4rem;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background-color:  #1e2024;
}

@media screen and (max-width: 48.75rem) {
  .section-view-cards { margin: 0; }
}