@import url(../../variables.css);

.section-creat-account {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-creat-account {
    width: 500px;
    padding: 0 1rem;
    border-radius: 0.5rem;
    margin-inline: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.h2-create-account {
    color: var(--color-white);
    font-size: clamp(3rem, 3vw + 1rem, var(--fs-400));
}

.signin-input {
    display: block;
    width: 100%;
    height: 2.25rem;
    margin-block: 1em;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.back {
    margin-block: 1rem  ;
    color: var(--color-gray);
}